<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 목록</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2>카테고리 목록</h2>
    <div>
        <button class="btn btn-primary" th:onclick="|location.href='/'|">돌아가기</button>
    </div>
    <table class="table table-bordered mt-4">
        <thead>
        <tr>
            <th>카테고리 ID</th>
            <th>카테고리 이름</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the category list -->
        <tr th:each="category : ${categoryList}">
            <td th:text="${category.id}">Category ID</td>
            <td th:text="${category.name}">Category Name</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>