<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 등록</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>회원 등록</h2>
    <form th:action="@{/user/add}" method="post" th:object="${userForm}">
        <div class="form-group">
            <label for="name">이름:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label for="email">이메일:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <div class="form-group">
            <label for="nickname">닉네임:</label>
            <input type="text" class="form-control" id="nickname" th:field="*{nickname}" required>
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
        <button type="button" class="btn btn-secondary" th:onclick="|location.href='/'|">취소</button>
    </form>
</div>
</body>
</html>